/*
 ************************** Widget w-switcher basic styles ************************/
.w-switcher {
	position: fixed;
	left: -215px;
	top: 86px;
	z-index: 1111;
	background-color: #111;
	background-color: rgba(0,0,0,0.85);
	color: #fff;
	}
	.w-switcher-head {
		height: 0;
		position: relative;
		}
		.w-switcher-title {
			display: none;
			font-size: 16px;
			line-height: 40px;
			font-weight: 300;
			}
		.w-switcher-control {
			position: absolute;
			top: 0;
			right: -50px;
			font-size: 24px;
			text-align: center;
			line-height: 48px;
			height: 50px;
			width: 50px;
			cursor: pointer;
			background-color: #111;
			background-color: rgba(0,0,0,0.85);
			-webkit-transition: background-color 0.3s, color 0.3s;
					transition: background-color 0.3s, color 0.3s;
			}
			.w-switcher-control:hover {
				background-color: #000;
				}
			.w-switcher-control:hover i,
			.w-switcher.active .w-switcher-control i {
				-webkit-animation: none;
				   -moz-animation: none;
					 -o-animation: none;
						animation: none;
				}
	.w-switcher-body {
		padding: 20px 20px 0;
		width: 215px;
		}
		.w-switcher-section {
			margin-bottom: 20px;
			}
		.w-switcher-section.for_layout {
			display: block;
			}
			.w-switcher-section-title {
				display: none;
				font-size: 11px;
				line-height: 18px;
				text-align: center;
				margin-bottom: 6px;
				opacity: 0.7;
				}				
			.w-switcher-section-list {
				margin-right: -3px;
				}
				.w-switcher-section-list:after,
				.w-switcher-section-list:before {
					display: table;
					content: '';
					}
				.w-switcher-section-list:after {
					clear: both;
					}
				.w-switcher-section-item {
					float: left;
					font-size: 11px;
					font-family: Tahoma;
					line-height: 26px;
					text-align: center;
					text-decoration: none;
					margin: 0 3px 0 0;
					width: 25px;
					position: relative;
					background-color: #444;
					color: #fff;
					}
					.w-switcher-section-item:focus,
					.no-touch .w-switcher-section-item:hover {
						color: #fff;
						}
					.w-switcher-section-item.active {
						box-shadow: 0 0 0 2px rgba(255,255,255,0.8);
						color: #fff;
						z-index: 3;
						}
					.w-switcher-section-item .text {
						position: relative;
						padding: 0 4px;
						text-shadow: 0 1px 5px rgba(0,0,0,0.5);
						background-color: rgba(0,0,0,0.3);
						}
			.w-switcher-section-text {
				display: none;
				font-size: 12px;
				color: #999;
				}
				

/*
 ********************* Widget w-switcher modifications **********************/

.w-switcher-section.for_layout .w-switcher-section-item {
	width: 86px;
	}
.w-switcher-section.for_color .w-switcher-section-item {
	width: 175px;
	}
	
.w-switcher-section-item .colorblocks {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	}
	.w-switcher-section-item .colorblocks i {
		float: left;
		height: 100%;
		width: 50%;
		}
	
.w-switcher-section-item.color_0 .c1 {
	background-color: #7049ba;
	}
.w-switcher-section-item.color_0 .c2 {
	background-color: #fff;
	}

.w-switcher-section-item.color_1 .c1 {
	background-color: #009688;
	}
.w-switcher-section-item.color_1 .c2 {
	background-color: #f0f7f6;
	}

.w-switcher-section-item.color_2 .c1 {
	background-color: #ffb300;
	}
.w-switcher-section-item.color_2 .c2 {
	background-color: #fff;
	}

.w-switcher-section-item.color_3 .c1 {
	background-color: #fff;
	}
.w-switcher-section-item.color_3 .c2 {
	background-color: #ff5722;
	}

.w-switcher-section-item.color_4 .c1 {
	background-color: #21b11e;
	}
.w-switcher-section-item.color_4 .c2 {
	background-color: #262626;
	}

.w-switcher-section-item.color_5 .c1 {
	background-color: #263238;
	}
.w-switcher-section-item.color_5 .c2 {
	background-color: #80cbc4;
	}

/*
 ********************* Widget w-switcher responsive **********************/
 
@media only screen and (max-width: 1023px) {
.w-switcher {
	display: none;
	}
}